
{% load static %}

<footer id="footer">
    <div class="container">

        <h3>{{personal_info.user.first_name}} {{personal_info.user.last_name}}</h3>
        
        {% for i in social_link%}
        <div class="social-links">
        <a href={{i.link}} class="instagram"><i class={{i.class_name}}></i></a>

        </div>
        {% endfor %}

        <div class="copyright">
        &copy; Copyright <strong><span>{{personal_info.user.first_name}}</span></strong>.
        </div>


    </div>
</footer>