
{% load static %}

<footer id="footer">
    <div class="container">

        <h3>{{personal_info.user.first_name}} {{personal_info.user.last_name}}</h3>
        <div class="social-links">
        {% for i in social_links%}
        <a href="{{i.link}}" class={{i.link_name}}><i class="{{i.icon_name}}"></i></a>
        {% endfor %}
        </div>


        <div class="copyright">
        &copy; Copyright <strong><span>{{personal_info.user.first_name}}</span></strong>.
        </div>


    </div>
</footer>